@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 60s linear infinite;
}

.pause-on-hover:hover .animate-marquee {
  animation-play-state: paused;
}

:root {
  font-family: var(--font-poppins);
  --primary: #2563eb; /* black */
  --primary-light: #60a5fa; /* Blue-400 */
  --primary-soft: #eff6ff; /* Blue-50 */
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0f172a; /* slate-900 */
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #2563eb;
  color: white;
  padding: 8px;
  z-index: 1000;
  transition: top 0.3s;
  font-size: 14px;
  font-weight: bold;
}

.skip-link:focus {
  top: 0;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility custom-scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #d1d5db; 
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #2563eb; 
  }
}
